<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=QEMGgEzKv9">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=QEMGgEzKv9">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=QEMGgEzKv9">
<link rel="manifest" href="/manifest.json?v=QEMGgEzKv9">
<link rel="shortcut icon" href="/favicon.ico?v=QEMGgEzKv9">
<meta name="theme-color" content="#ffffff">


<script type="application/vnd.microsoft.card.adaptive">
{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.3",
    "body": [
        {
            "type": "Container",
            "items": [
                {
                    "type": "ColumnSet",
                    "columns": [
                        {
                            "type": "Column",
                            "size": 1,
                            "items": [
                                {
                                    "type": "Image",
                                    "url": "https://matthidinger.com/images/bio-photo.jpg",
                                    "size": "Medium",
                                    "style": "Person"
                                }
                            ],
                            "width": "auto"
                        },
                        {
                            "type": "Column",
                            "size": 3,
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "**Matt Hidinger**",
                                    "wrap": true
                                },
                                {
                                    "type": "TextBlock",
                                    "separation": "none",
                                    "text": "Sailing and making. Principal Program Manager at Microsoft, running the Adaptive Cards project. Loving the new cross-platform, open-source, MSFT ride.",
                                    "isSubtle": true,
                                    "wrap": true
                                }
                            ],
                            "width": "stretch"
                        }
                    ]
                }
            ]
        },
        {
            "type": "Container",
            "items": [
                {
                    "type": "FactSet",
                    "facts": [
                        {
                            "title": "🏠 Home:",
                            "value": "Seattle"
                        },
                        {
                            "title": "🏢 Work:",
                            "value": "Microsoft"
                        },
                        {
                            "title": "🌐 Web:",
                            "value": "https://matthidinger.com"
                        }
                    ]
                }
            ]
        }
    ],
    "actions": [
        {
            "type": "Action.OpenUrl",
            "title": "Twitter",
            "url": "https://twitter.com/matthidinger"
        },
        {
            "type": "Action.OpenUrl",
            "title": "GitHub",
            "url": "https://github.com/matthidinger"
        },
        {
            "type": "Action.OpenUrl",
            "title": "Instagram",
            "url": "https://instagram.com/matthidinger"
        }
    ]
}
</script>


<!-- end custom head snippets -->
