    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">&nbsp;</h1>
						<h1 class="brand-heading">&nbsp;</h1>
                        
						<span class="intro-text">{{ content }}</span>
                        <h6>&nbsp;</h6>
                        
						<a href="#About" class="page-scroll">
                            <img class="img-me" src="{{site.baseurl}}/images/{{ site.author.avatar }}" alt="profile photo">
                        </a>
                        <div class="social-header">
                            <ul class="list-inline social-buttons">
                            {% for network in page.social %}
                                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
